<%- layout('layout') -%>
<div class="container">
  <div class="row">

    <div class="col-md-4">
      <img class="productphoto" src="<%= data.image %>">
    </div>


    <div class="col-md-4">
      <h3><%= data.name %></h3>
      <h1>SGD$ <%= data.price %></h1>
      <h2>Points: <%= data.points %></h2>

    </div>

  </div>
  <br><br><br>
  <div id="productpg" class="panel.panel-default">
  <div>
   <p><%= data.description %></p>
  </div>
</div>
<div id="userButtons" class="level-item">
            <p><a id="editReward" class="btn btn-warning" href="/rewards-admin/<%= data._id %>/edit" role="button">Edit &raquo;</a></p>
            <!-- <div class="deletebuttonRewards"> -->
            <p><a id="deleteReward" class="btn btn-danger" role="button">Delete &raquo;</a></p>
          <!-- </div> -->
          </div>
      <a href="/allrewards">Back to Rewards</a>
</div>

</div>
<div>
