
<div class="container">
  <div class="row">

    <div class="col-md-4">
      <img id="productphoto" src="<%= data.image %>">
    </div>

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
      <h3><%= data.name %></h3>
      <h1>SGD$ <%= data.price %></h1>
      <h2>Points: <%= data.points %></h2>

    </div>

  </div>
  <br><br><br>
  <div id="productpg" class="panel.panel-default">
  <div>
   <p><%= data.description %></p>
  </div>
</div>
</div>
